@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background:#ECECEC;
  font-family:Raleway, sans-serif;
}
.fontRaleway {
  font-family:Raleway, sans-serif;
}
.fontLato {
  font-family:Lato, sans-serif;
}
